@import url('./common.css');


header {
    display: flex;
    flex-direction: row;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 3px 5px lightgrey;
    padding: 0 3em;
    margin-bottom: 2em;
    width: 100%;
}


#logo {
    height: 5em;
}

nav {
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


a {
    margin-left: 1rem;
    display: inline-block;
    width: fit-content;
    padding: .7em 1em;
    text-decoration: none;
    color: white
}

a:hover{
    color: #43cea2;
}

p{
    margin: 0;
    font-size: 1em;
}

p.timestamp,
p#dataFim{
    font-size: 0.8em;
    color: rgba(14, 13, 13, 0.5);
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: white;
}

.user-info p {
    text-transform: capitalize;
}

.user-info .user-image {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.301);
    margin-left: .7em;
}

.user-image img{
    opacity: 1;
    max-width: 32px;
    max-height: 32px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* Novas tarefa - formulário ------------------------------------------------- */

.nova-tarefa {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 70%;
    margin: 0 10%;
    padding: 1em;
    box-shadow: 2px 2px 10px lightgrey;
    border-radius: .2em;
    z-index: 20;
}

.nova-tarefa input[type=text] {
    border: none;
    width: 90%;
    border-bottom: 1px solid #a5b2b4;
    border-radius: 0;
    padding: .3em;
    font-size: 1.1em;
    margin-right: 1em;
    margin-left: 0.5em;
}

.nova-tarefa input[type="date"] {
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185b9d8f, #43cea275);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185b9d6e, #43cea25e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.2em 0.5em;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
}

::-webkit-calendar-picker-indicator{
    background-color: white;
    padding: 1px;
    cursor: pointer;
    border-radius: 3px;
}



.nova-tarefa input:focus {
    outline: none;
    border-bottom: 1px solid grey;
}

.nova-tarefa input::placeholder {
    color: rgb(197, 197, 197);
    text-indent: .2em;
}

.nova-tarefa button {
    height: 2em;
    width: 2em;
    background-color: transparent;
    margin-left: 2em;
    margin-right: 1em;
    opacity: .5;
}

.nova-tarefa button:hover {
    opacity: 1;
}

.nova-tarefa button img {
    height: 100%;
    width: 100%;
}

.not-done/* , .button-input  */{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    cursor: pointer;
}

.not-done img{
    width: 60%;
    height: 65%;
    margin-bottom: 6.5px;
}

.button-input{
    background-color: var(--app-grey);
    margin-right: 1em;
}


.mediaQuerie{
    display: flex;
    flex-direction: row;
    align-items: center;
}


#divErro{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#msgErro{
    color: red;
    margin-left: 1.2em;
}


/* Lista de tarefas ----------------------------------------------------------- */

#div-cut{
    width: 20px;
    height: 50px;
    background-color: #F6F6F6;
    position: relative;
    bottom: -3.1em;
    left: -5.5em;
    transform: rotate(45deg);
}

/* div com TODOS os cards */
#tarefas{
    width: 75vw;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    
}

/* div de CADA card */
.tarefa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 1em;  
}

/* botao para excluir */
.tarefa .not-done {
    position: relative;
    height: 1.3em;
    width: 1.3em;
    bottom: -2em;
    left: 5em;
    background-color: rgb(104, 104, 104, 0.6);
    z-index: 2;
    transition: background-color 200ms linear;
}


.tarefa .not-done:hover {
    background-color: #19547b;
}


/* texto da tarefa */
.tarefa .descripcion {
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: white;
    padding: 0 1.5em;
    box-shadow: 2px 2px 5px lightgrey;
    border-left:  #18899d 4px solid ;
    border-radius: 10px;
}

.tarefa .nome,
#tarefa-api {
    word-break: break-all;
    color: rgb(95, 95, 95);
    margin-top: 2rem;
    height: 0;
}



/* Tarefas concluídas ----------------------------------------------------------- */
/* div que contem grupo de card de pendentes e div com cards concluidas */
.tarefas-pendentes,
.titulo-concluida {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
 
}

.titulo-concluida .not-done {
    background-color: lightgrey;
    border-color: grey;
}

.titulo-concluida .not-done::before,
.titulo-concluida .not-done::after {
    background-color: grey !important;
}

.titulo-concluida .tarefa .descripcion {
    background-color: rgb(228, 228, 228);
}

.titulo-concluida .tarefa .descripcion .nome {
    color: grey;
    text-decoration: line-through;
}


input[type="checkbox"]:disabled {
    background-color: initial;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-left: 2em;

}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #18899d;
    border-radius: 3px;
    background-color: #18899d;
}

/* div com datas de criação, término e checkbox */
.rodapeCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -3.5em;
}




/* tablets e larger smartphones */
@media screen and (max-width: 769px) {

    #logo {
        width: 30%;
        margin-left: -2em;
    }
    nav {
        margin-left: -0.6rem;
        margin-top: 1rem;
    }
    .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-info p{
        display: none;
    }
    .user-info .user-image {
        height: 2em;
        width: 2em;
        margin-top: 2em;
        margin-left: 2em;
    }
    .nova-tarefa {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0;
    }
    .button-input{
        display: none;
    }
    p.dataDeTermino{
        font-size: 1em;
    }
    .mediaQuerie{
        display: flex;
        flex-direction: row;
        margin-top: 1em;
    }

    /* texto da tarefa */
    .tarefa .descripcion {
    width: 250px;
    height: 250px;
    }
    #div-cut{
        width: 25px;
        height: 55px;
        bottom: -4em;
        left: -7.5em; 
    }

  }
  

  

  