@import url('./common.css');


h1 {
  color: #141E59;
  margin-top: rem;
  margin-bottom: 1.5rem;
  font-size: 4.8vw;
}

h2 {
  color: #141E59;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 3.0vw;
}

form {
 
  
  background:linear-gradient(white, #FFD7B1, #FF9486);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3.2rem 10rem;
  box-shadow: 0 5px 10px lightgrey;
  padding: 2.6rem;
  border-radius: 10px;
  justify-content: space-evenly;
   color: #141E59;
}

form:after {

  content: '';
  width: 40vh;
 
  
  background: linear-gradient(var(--primary), var(--secondary));
}

.image {
  height: 9em;
  width: 9em;
  border-radius: 50%;
  background-color: var(--app-grey);
  margin-bottom: 2em;
}

.image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

input {
 
  padding: .4rem 2.5rem;
  background-color: var(--app-grey);
  border: none;
  border-radius: .5rem;
  display: block;
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 1px solid lightgrey;
}

label {
  
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

input[type="text"]:hover{
  background-color:#FFD7B1;
}

input[type="password"]:hover{
  background-color: #f5b1a6;
}

button {
  padding: .7em 2em;
  background-color: var(--primary);
  color: white;
  margin-top: 3rem;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}

button:hover{
  background-color: #FF9486;
}

.form-footer {
  margin-top: auto;
  color: grey;
  font-size: 2rem;
}